html 
    head    
        title = #{titulo}
    body
        //-  div #{articulos}   
       
      each item in articulos
        ul
          li= item.nombre
          


         

    